<%- include('template/header.ejs'), {title}  %> 

<div id="carousel-news-movies" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner list-news-movies">   

    <% movies.forEach((movie, index) => { %>
      <% const path = movie.backdrop_path %> 
      <% const url = `https://image.tmdb.org/t/p/original${path}` %>

      <% if (index === 0) { %>
       <div class="carousel-item active ">
        <img src="<%= url %>" class="d-block w-100" alt="...">
        <div class="carousel-caption">
            <h5> <%= movie.title %>  </h5>
            <p> <%= movie.overview %>  </p>
            <a href="/<%= movie.id %> " target="_blank" rel="noopener noreferrer" class="btn btn-primary">More Information</a>
        </div>
      </div>
      <% } %>

      <% if (index > 0) { %>
        <div class="carousel-item ">
          <img src="<%= url %>" class="d-block w-100" alt="...">
          <div class="carousel-caption">
              <h5> <%= movie.title %>  </h5>
              <p> <%= movie.overview %>  </p>
              <a href="/<%= movie.id %> " target="_blank" rel="noopener noreferrer" class="btn btn-primary">More Information</a>
          </div>
        </div>
      <% } %>
  <% }) %>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container">
  <div class="row">
    <div class="col-6 now-playing">
      <h2>Popular Movies</h2>
      <ul class="list-group list-group-flush now-playing__list">

        <% popularMovies.forEach((movie, index) => { %>
          <% const path = movie.poster_path %> 
          <% const url = `https://image.tmdb.org/t/p/original${path}` %>
          <% if (index < 6) { %>
            <li class="list-group-item">
               <img src="<%= url %>" alt="<%= movie.title %> ">
               <h3><%= movie.title %> </h3>
               <a href="/<%= movie.id %> " target="_blank" rel="noopener noreferrer" class="btn btn-primary">Show more</a>
            </li>
          <% } %>
        <% }) %>    

      </ul>
    </div>

    <div class="col-6 now-playing">
      <h2>Best Reted</h2>
      <ul class="list-group list-group-flush now-playing__list">

        <% topRated.forEach((movie, index) => { %>
          <% const path = movie.poster_path %> 
          <% const url = `https://image.tmdb.org/t/p/original${path}` %>
          <% if (index < 6) { %>
            <li class="list-group-item">
               <img src="<%= url %>" alt="<%= movie.title %> ">
               <h3><%= movie.title %> </h3>
               <a href="/<%= movie.id %> " target="_blank" rel="noopener noreferrer" class="btn btn-primary">Show more</a>
            </li>
          <% } %>
        <% }) %>    

      </ul>
    </div>
  </div>
</div>


<%- include('template/footer.ejs')  %> 