<!-- header -->
<%- include('template/header.ejs') %>

  <!-- resto header -->
  <link rel="stylesheet" href="./css/index.css">
    <title><%= title %></title>
  </head>
  <body id="home">

  <!-- navbar -->
  <%- include('template/navbar.ejs') %> 

  <!-- carousel -->
  <div id="carousel-news-movies" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <% for( let index = 1; index < 6; index++ ) { %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %> " aria-label="Slide 1"></button>
      <% } %>
    </div>

    <div class="carousel-inner list-news-movies">
      <% newMovies.forEach((movie, index) => { %>
        <% const path = movie.backdrop_path %> 
        <% const url = `https://image.tmdb.org/t/p/original${path}` %>

        <% if (index === 0) { %>
          <div class="carousel-item active">
            <a href="/movie/<%= movie.id %>?language=en-US" target="_blank">
              <img src="<%= url %> " class="d-block w-100" alt="">
            </a>
          </div>
        <% } %>

        <% if (index > 0 && index <= 5 ) { %>
          <div class="carousel-item">
            <a href="/movie/<%= movie.id %>?language=en-US" target="_blank"></a>
            <img src="<%= url %> " class="d-block w-100" alt="">
          </div>
        <% } %>

      <% }) %>
    </div>

  </div>

 
  <main>
    <div class="newMovies">
      <h2>Upcoming</h2>
      <div class="wrapper">
        <% upcoming.forEach(element => { %>
          <% let path = element.poster_path %>
          <% let urlPoster = `https://image.tmdb.org/t/p/original${path}` %>
         
          <div class="item">
            <a href="/movie/<%= element.id %>?language=en-US" target="_blank">
              <img src="<%= urlPoster %> " alt="">
            </a>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="newMovies">
      <h2>Tv</h2>
      <div class="wrapper">
        <% tv.forEach(element => { %>
          <% let path = element.poster_path %>
          <% let urlPoster = `https://image.tmdb.org/t/p/original${path}` %>
         
          <div class="item">
            <a href="/tv/<%= element.id %>" target="_blank">
              <img src="<%= urlPoster %> " alt="">
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </main>

  <!-- footer -->
<%- include('template/footer.ejs')  %> 