<!-- header -->
<%- include('template/header.ejs') %>
  <link rel="stylesheet" href="./css/index.css">
  <title><%= title %></title>
  </head>
  <body id="home">

  <!-- navbar -->
  <%- include('template/navbar.ejs') %> 
 
  <main>
    <div class="newMovies">
      <h2>Trending</h2>
      <div class="wrapper">
        <% upcoming.forEach(element => { %>
          <% let path = element.poster_path %>
          <% let urlPoster = `https://image.tmdb.org/t/p/original${path}` %>
         
          <div class="item">
            <a href="/movie/<%= element.id %>">
              <img src="<%= urlPoster %> " alt="">
            </a>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="newMovies">
      <h2>Tv</h2>
      <div class="wrapper">
        <% tv.forEach(element => { %>
          <% let path = element.poster_path %>
          <% let urlPoster = `https://image.tmdb.org/t/p/original${path}` %>
         
          <div class="item">
            <a href="/tv/<%= element.id %>">
              <img src="<%= urlPoster %> " alt="">
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </main>

  <!-- footer -->
<%- include('template/footer.ejs')  %> 