<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/movie.css">
    <title><%= movie.original_title %></title>
</head>
<body id="movie">

    <!-- navbar -->
    <%- include ('template/navbar.ejs') %> 

    <% const path = movie.backdrop_path %> 
    <% const poster = movie.poster_path %> 
    <% const url = `https://image.tmdb.org/t/p/original${path}` %>
    <% const url2 = `https://image.tmdb.org/t/p/original${poster}` %> 

    <main id="main">
        <section class="inner_content">
            <!-- contenido -->
            <div class="header_large">
                <!-- fondo -->
                <div class="background"></div>
                    <img src="<%= url %> " alt="" class="background-img">
                </div>

                <!-- poster & overview -->
                <div class="content">
                    <div class="information">
                        <!-- poster -->
                        <div class="poster_wrapper">
                            <div class="poster">
                                <img src="<%= url2 %> " alt="" class="poster-img">
                            </div>
                        </div>

                        <!-- overview -->
                        <div class="header_poster_wrapper">
                            <div class="header">
                                <div class="title">
                                    <h2>
                                        <a href="#" class="movieTitle"><%= movie.title %></a>
                                        <% let yearMovie = movie.release_date %>
                                        <% let year = yearMovie.split('-') %>
                                        <span class="date">(<%= year[0] %>)</span>  
                                    </h2>
                                    <div class="facts">
                                        <span class="release"><%= movie.release_date %> </span>
                                        <span class="genres">
                                                <% let genres = movie.genres %> 
                                                <% genres.forEach(element => { %>
                                                    <a class="genresName"><%= element.name %></a>
                                                <% }) %>
                                        </span>
                                        <span class="runtime"></span>
                                        <span>
                                            <a href="#" type="button" class="buttonTaiser" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fas fa-play" alt=">"></i>
                                                  Replay teaser
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="header_info">
                                    <h3 class="tagline"><%= movie.tagline%> </h3>
                                    <h3>General view</h3>
                                    <div class="overview">
                                        <p><%= movie.overview %> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
   

    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Replay teaser</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <% teaser.forEach(video => { %> 
                                        
                    <% if (video.type === 'Teaser' || video.type === 'Trailer') { %>
                     
                       <% const key = video.key %>
                       <% const url = `https://www.youtube.com/embed/${key}` %>
                       <iframe
                       id="ytplayer" 
                       type="text/html" 
                       width="640" 
                       height="360"
                       src="<%= url %> "
                       frameborder="0"
                       >
                       </iframe>

                    <% } %>

                <% }) %>

            </div>
          </div>
        </div>
      </div>
    
    <script src="https://kit.fontawesome.com/8d04d5d86b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>