<!-- header -->
<%- include('template/header.ejs') %>

  <!-- rest header -->
    <link rel="stylesheet" href="../css/popular.css">
    <title><%= title %></title>
  </head>
  <body id="home">

  <!-- navbar -->
  <%- include('template/navbar.ejs') %>

  <h1>Peliculas populares</h1>

  <main>
    
    <!-- card -->
    <!-- destructurar aqui! -->
    <div class="container-fluid mt-5">
      <div class="row list-card">
        <% movies.forEach(movie => { %>
          <% let path = movie.poster_path %>
          <% let url = `https://image.tmdb.org/t/p/original${path}` %>  

          <div class="card m-2 poster" style="width: 14rem; height: auto;">
            <a href="/movie/<%= movie.id %>?language=en" target="_blank">
              <img src="<%= url %> " class="card-img-top" alt="<%= movie.title %>" >
            </a> 
            <div class="card-body">
              <h5 class="card-title"><%= movie.title %></h5>
              <!-- <span><%= movie.release_date %></span> -->
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  
    <div class="d-grid gap-2 m-2 blue"></div>
    
    <div class="d-grid gap-2 m-2 red"></div>
  </main>

<%- include('template/footer.ejs')  %> 

<script>

    document.addEventListener('DOMContentLoaded', () => {
      const { page } = getUrlVars()
      const number = parseInt(page)
      let numberPage = parseInt(page)
      let btnBlue = numberPage += 1
      let btnRed = numberPage -= 2

      if (number > 0) {
        const btn = document.getElementsByClassName('blue')[0]
        btn.innerHTML = `<a href="/movie?language=es&page=${btnBlue}" class="btn btn-primary text-light url">Show more</a>`
        
      }
      
      if(number > 1) {
        const btn2 = document.getElementsByClassName('red')[0]
        btn2.innerHTML = `<a href="/movie?language=es&page=${btnRed}" class="btn btn-danger text-light url">Back</a>`

      }
      
    })


    const getUrlVars = () => {
      let vars = {}
      window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
        vars[key] = value;
      });
      return vars;
    }

</script>